<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta</title>
    <!-- Incluindo Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-white">
        <a class="navbar-brand text-dark" href="/">EclesiaManage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/consultaMembro/">Membros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/consultaMinisterio/">Ministerios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/consultaVisita/">Visitas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/consultaFuncao/">Função</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/consultaInstrumento/">Instrumentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/consultaTipoInstrumento/">Tipo de Instrumentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/consultaPequenoGrupo/">Pequenos Grupos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/consultaEvento/">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="/admin/">Administração</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        <h2 class="mb-4">Lista de Visitas</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Local</th>
                    <th scope="col">Data</th>
                    <th scope="col">Anfitrião</th>
                </tr>
                {% for Visita in consultaVisita %}
            </thead>
            <tbody class="">
                <td>{{ Visita.localVisita }}</td>
                <td>{{ Visita.dataVisita }}</td>
                <td>{{ Visita.anfitriaoVisita }}</td>
            </tbody>
            {% endfor %}
        </table>
    </div>
    </div>
    </div>

    <!-- Incluindo jQuery e Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

<style>
    body {
        background-image: url(https://assets.playgroundai.com/9ac57ffd-d33d-4a6b-bb26-9cca8745ae96.jpg);
        background-repeat: no-repeat;
        background-position: center 0px;
        background-size: cover;
        backdrop-filter: blur(30px);
        background-color: rgba(255, 255, 255, 0.5);
        min-height: 100vh;
    }

    .container {
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(30px);
    }
</style>